In [1]:
import os
import csv
import pandas as pd

csvfile = pd.read_csv("../Resources/directory.csv")

csvfile

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25595,Starbucks,21401-212072,Rex,Licensed,"141 Nguyễn Huệ, Quận 1, Góc đường Pasteur và L...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3824 4668,GMT+000000 Asia/Saigon,106.70,10.78
25596,Starbucks,24010-226985,Panorama,Licensed,"SN-44, Tòa Nhà Panorama, 208 Trần Văn Trà, Quận 7",Thành Phố Hồ Chí Minh,SG,VN,70000,08 5413 8292,GMT+000000 Asia/Saigon,106.71,10.72
25597,Starbucks,47608-253804,Rosebank Mall,Licensed,"Cnr Tyrwhitt and Cradock Avenue, Rosebank",Johannesburg,GT,ZA,2194,27873500159,GMT+000000 Africa/Johannesburg,28.04,-26.15
25598,Starbucks,47640-253809,Menlyn Maine,Licensed,"Shop 61B, Central Square, Cnr Aramist & Coroba...",Menlyn,GT,ZA,181,NaN,GMT+000000 Africa/Johannesburg,28.28,-25.79
25599,Starbucks,47609-253286,Mall of Africa,Licensed,"Shop 2077, Upper Level, Waterfall City",Midrand,GT,ZA,1682,27873500215,GMT+000000 Africa/Johannesburg,28.11,-26.02

In [2]:
csvfile.columns

Index(['Brand', 'Store Number', 'Store Name', 'Ownership Type',
       'Street Address', 'City', 'State/Province', 'Country', 'Postcode',
       'Phone Number', 'Timezone', 'Longitude', 'Latitude'],
      dtype='object')

In [3]:

cleaned_df = csvfile[{"Store Name","Ownership Type","Street Address","City","State/Province","Country","Postcode"}]
cleaned_df.head()

,City,Street Address,State/Province,Country,Store Name,Ownership Type,Postcode
0,Andorra la Vella,"Av. Meritxell, 96",7,AD,"Meritxell, 96",Licensed,AD500
1,Ajman,"1 Street 69, Al Jarf",AJ,AE,Ajman Drive Thru,Licensed,NaN
2,Ajman,Sheikh Khalifa Bin Zayed St.,AJ,AE,Dana Mall,Licensed,NaN
3,Abu Dhabi,Al Salam Street,AZ,AE,Twofour 54,Licensed,NaN
4,Abu Dhabi,"Khaldiya Area, Abu Dhabi Island",AZ,AE,Al Ain Tower,Licensed,NaN

In [4]:
new_df = cleaned_df.loc[cleaned_df["Country"] == "US", :]
new_df

,City,Street Address,State/Province,Country,Store Name,Ownership Type,Postcode
11964,Anchorage,5600 Debarr Rd Ste 9,AK,US,Safeway-Anchorage #1809,Licensed,995042300
11965,Anchorage,1725 Abbott Rd,AK,US,Safeway-Anchorage #2628,Licensed,995073444
11966,Anchorage,1501 Huffman Rd,AK,US,Safeway - Anchorage #1813,Licensed,995153596
11967,Anchorage,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",AK,US,100th & C St - Anchorage,Company Owned,99515
11968,Anchorage,1005 E Dimond Blvd,AK,US,Old Seward & Diamond,Company Owned,995152050
...,...,...,...,...,...,...,...
25567,Laramie,554 N 3rd St,WY,US,Safeway-Laramie #2466,Licensed,820723012
25568,Laramie,3112 E. Grand,WY,US,Ridley's - Laramie #1131,Licensed,820705141
25569,Laramie,3021 Grand Ave,WY,US,Laramie - Grand & 30th,Company Owned,82070
25570,Rock Springs,118 Westland Way,WY,US,I-80 & Dewar Dr-Rock Springs,Company Owned,829015751
25571,Sheridian,2208 Coffeen Ave,WY,US,Coffeen & Brundage Lane-Sheridan,Company Owned,828016213

In [5]:
new_df['Zip_Code'] = new_df['Postcode'].where(new_df['Postcode'].str.len() == 5, 
                                               new_df['Postcode'].str[:5])

/Users/bt4ever/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
new_df

,City,Street Address,State/Province,Country,Store Name,Ownership Type,Postcode,Zip_Code
11964,Anchorage,5600 Debarr Rd Ste 9,AK,US,Safeway-Anchorage #1809,Licensed,995042300,99504
11965,Anchorage,1725 Abbott Rd,AK,US,Safeway-Anchorage #2628,Licensed,995073444,99507
11966,Anchorage,1501 Huffman Rd,AK,US,Safeway - Anchorage #1813,Licensed,995153596,99515
11967,Anchorage,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",AK,US,100th & C St - Anchorage,Company Owned,99515,99515
11968,Anchorage,1005 E Dimond Blvd,AK,US,Old Seward & Diamond,Company Owned,995152050,99515
...,...,...,...,...,...,...,...,...
25567,Laramie,554 N 3rd St,WY,US,Safeway-Laramie #2466,Licensed,820723012,82072
25568,Laramie,3112 E. Grand,WY,US,Ridley's - Laramie #1131,Licensed,820705141,82070
25569,Laramie,3021 Grand Ave,WY,US,Laramie - Grand & 30th,Company Owned,82070,82070
25570,Rock Springs,118 Westland Way,WY,US,I-80 & Dewar Dr-Rock Springs,Company Owned,829015751,82901
25571,Sheridian,2208 Coffeen Ave,WY,US,Coffeen & Brundage Lane-Sheridan,Company Owned,828016213,82801

In [7]:
sb_df = new_df[{"Store Name","Ownership Type","Street Address","City","State/Province","Country","Zip_Code"}]

In [8]:
sb_df

,City,Street Address,State/Province,Country,Store Name,Zip_Code,Ownership Type
11964,Anchorage,5600 Debarr Rd Ste 9,AK,US,Safeway-Anchorage #1809,99504,Licensed
11965,Anchorage,1725 Abbott Rd,AK,US,Safeway-Anchorage #2628,99507,Licensed
11966,Anchorage,1501 Huffman Rd,AK,US,Safeway - Anchorage #1813,99515,Licensed
11967,Anchorage,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",AK,US,100th & C St - Anchorage,99515,Company Owned
11968,Anchorage,1005 E Dimond Blvd,AK,US,Old Seward & Diamond,99515,Company Owned
...,...,...,...,...,...,...,...
25567,Laramie,554 N 3rd St,WY,US,Safeway-Laramie #2466,82072,Licensed
25568,Laramie,3112 E. Grand,WY,US,Ridley's - Laramie #1131,82070,Licensed
25569,Laramie,3021 Grand Ave,WY,US,Laramie - Grand & 30th,82070,Company Owned
25570,Rock Springs,118 Westland Way,WY,US,I-80 & Dewar Dr-Rock Springs,82901,Company Owned
25571,Sheridian,2208 Coffeen Ave,WY,US,Coffeen & Brundage Lane-Sheridan,82801,Company Owned

In [9]:
nc_sb_df = sb_df.loc[sb_df["State/Province"] == "NC", :]
nc_sb_df.head()

,City,Street Address,State/Province,Country,Store Name,Zip_Code,Ownership Type
19830,Aberdeen,110 Columbus Drive,NC,US,"Aberdeen, NC",28315,Company Owned
19831,Apex,750 W Williams St,NC,US,Harris Teeter-Apex #58,27502,Licensed
19832,Apex,940 US Hwy 64,NC,US,Kroger-Apex #357,27523,Licensed
19833,Apex,1201 Beaver Creek Commons Dr,NC,US,Super Target Apex ST-1932,27502,Licensed
19834,Arden,15 McKenna Rd,NC,US,Target Asheville T-2011,28704,Licensed

In [10]:
nc_sb_df

,City,Street Address,State/Province,Country,Store Name,Zip_Code,Ownership Type
19830,Aberdeen,110 Columbus Drive,NC,US,"Aberdeen, NC",28315,Company Owned
19831,Apex,750 W Williams St,NC,US,Harris Teeter-Apex #58,27502,Licensed
19832,Apex,940 US Hwy 64,NC,US,Kroger-Apex #357,27523,Licensed
19833,Apex,1201 Beaver Creek Commons Dr,NC,US,Super Target Apex ST-1932,27502,Licensed
19834,Arden,15 McKenna Rd,NC,US,Target Asheville T-2011,28704,Licensed
...,...,...,...,...,...,...,...
20163,Winston-Salem,2015 Frontis Plaza Boulevard,NC,US,Hanes Mall Blvd.,27103,Company Owned
20164,Winston-Salem,"110 Oakwood Drive, Space U122, N/A",NC,US,Stratford Road,27103,Company Owned
20165,Winston-Salem,2898 Reynolda Road,NC,US,Reynolda Road,27106,Company Owned
20166,Winston-Salem,1834 Wake Forest Rd,NC,US,Wake Forest University Z. Smith Rey,27109,Licensed
20167,Winston-Salem,1 Medical Center Blvd,NC,US,Wake Forest Unv Bap Med - Winst-Sal,27103,Licensed

In [11]:
nc_zipcodes = pd.read_csv("nczipcodes.csv")
nc_zipcodes

      Zip_Code         City State County Name
0        28315     ABERDEEN    NC       MOORE
1        27006      ADVANCE    NC       DAVIE
2        27910      AHOSKIE    NC    HERTFORD
3        27201     ALAMANCE    NC    ALAMANCE
4        28001    ALBEMARLE    NC      STANLY
...        ...          ...   ...         ...
1041     27379  YANCEYVILLE    NC     CASWELL
1042     27596  YOUNGSVILLE    NC    FRANKLIN
1043     27597      ZEBULON    NC        WAKE
1044     28698    ZIONVILLE    NC     WATAUGA
1045     28790     ZIRCONIA    NC   HENDERSON

[1046 rows x 4 columns]

In [12]:
nc_zipcodes.dtypes

Zip_Code        int64
City           object
State          object
County Name    object
dtype: object

In [13]:
nc_zipcodes['Zip_Code'] = nc_zipcodes['Zip_Code'].apply(str)

In [14]:
merge_df = pd.merge(nc_sb_df, nc_zipcodes, on="Zip_Code", how="inner")
merge_df

,City_x,Street Address,State/Province,Country,Store Name,Zip_Code,Ownership Type,City_y,State,County Name
0,Aberdeen,110 Columbus Drive,NC,US,"Aberdeen, NC",28315,Company Owned,ABERDEEN,NC,MOORE
1,Apex,750 W Williams St,NC,US,Harris Teeter-Apex #58,27502,Licensed,APEX,NC,WAKE
2,Apex,1201 Beaver Creek Commons Dr,NC,US,Super Target Apex ST-1932,27502,Licensed,APEX,NC,WAKE
3,Apex,940 US Hwy 64,NC,US,Kroger-Apex #357,27523,Licensed,APEX,NC,WAKE
4,Arden,15 McKenna Rd,NC,US,Target Asheville T-2011,28704,Licensed,ARDEN,NC,BUNCOMBE
...,...,...,...,...,...,...,...,...,...,...
333,Winston-Salem,5420 University Pkwy,NC,US,Target Winston-Salem North T-1077,27105,Licensed,WINSTON SALEM,NC,FORSYTH
334,Winston-Salem,2835 Reynolda Rd,NC,US,Harris Teeter Winston Salem # 346,27106,Licensed,WINSTON SALEM,NC,FORSYTH
335,Winston-Salem,3327 Robinhood Road,NC,US,Mt. Tabor Place,27106,Company Owned,WINSTON SALEM,NC,FORSYTH
336,Winston-Salem,2898 Reynolda Road,NC,US,Reynolda Road,27106,Company Owned,WINSTON SALEM,NC,FORSYTH
337,Winston-Salem,1834 Wake Forest Rd,NC,US,Wake Forest University Z. Smith Rey,27109,Licensed,WINSTON SALEM,NC,FORSYTH

In [15]:
new_nc_sb_df = merge_df[{"Store Name","Ownership Type",
                         "Street Address","City_y","State","Zip_Code","County Name"}]
new_nc_sb_df

,Street Address,County Name,City_y,Store Name,State,Zip_Code,Ownership Type
0,110 Columbus Drive,MOORE,ABERDEEN,"Aberdeen, NC",NC,28315,Company Owned
1,750 W Williams St,WAKE,APEX,Harris Teeter-Apex #58,NC,27502,Licensed
2,1201 Beaver Creek Commons Dr,WAKE,APEX,Super Target Apex ST-1932,NC,27502,Licensed
3,940 US Hwy 64,WAKE,APEX,Kroger-Apex #357,NC,27523,Licensed
4,15 McKenna Rd,BUNCOMBE,ARDEN,Target Asheville T-2011,NC,28704,Licensed
...,...,...,...,...,...,...,...
333,5420 University Pkwy,FORSYTH,WINSTON SALEM,Target Winston-Salem North T-1077,NC,27105,Licensed
334,2835 Reynolda Rd,FORSYTH,WINSTON SALEM,Harris Teeter Winston Salem # 346,NC,27106,Licensed
335,3327 Robinhood Road,FORSYTH,WINSTON SALEM,Mt. Tabor Place,NC,27106,Company Owned
336,2898 Reynolda Road,FORSYTH,WINSTON SALEM,Reynolda Road,NC,27106,Company Owned
337,1834 Wake Forest Rd,FORSYTH,WINSTON SALEM,Wake Forest University Z. Smith Rey,NC,27109,Licensed

In [16]:
new_nc_sb_df = new_nc_sb_df.rename(columns={"City_y": "City"})
new_nc_sb_df

,Street Address,County Name,City,Store Name,State,Zip_Code,Ownership Type
0,110 Columbus Drive,MOORE,ABERDEEN,"Aberdeen, NC",NC,28315,Company Owned
1,750 W Williams St,WAKE,APEX,Harris Teeter-Apex #58,NC,27502,Licensed
2,1201 Beaver Creek Commons Dr,WAKE,APEX,Super Target Apex ST-1932,NC,27502,Licensed
3,940 US Hwy 64,WAKE,APEX,Kroger-Apex #357,NC,27523,Licensed
4,15 McKenna Rd,BUNCOMBE,ARDEN,Target Asheville T-2011,NC,28704,Licensed
...,...,...,...,...,...,...,...
333,5420 University Pkwy,FORSYTH,WINSTON SALEM,Target Winston-Salem North T-1077,NC,27105,Licensed
334,2835 Reynolda Rd,FORSYTH,WINSTON SALEM,Harris Teeter Winston Salem # 346,NC,27106,Licensed
335,3327 Robinhood Road,FORSYTH,WINSTON SALEM,Mt. Tabor Place,NC,27106,Company Owned
336,2898 Reynolda Road,FORSYTH,WINSTON SALEM,Reynolda Road,NC,27106,Company Owned
337,1834 Wake Forest Rd,FORSYTH,WINSTON SALEM,Wake Forest University Z. Smith Rey,NC,27109,Licensed

In [17]:
sb_owner_counts = new_nc_sb_df["Ownership Type"].value_counts()
sb_owner_counts.head()

Licensed         186
Company Owned    152
Name: Ownership Type, dtype: int64

In [18]:
sb_zip_counts = new_nc_sb_df["Zip_Code"].value_counts()
sb_zip_counts

28208    10
28277    10
27103     8
27410     8
27560     7
         ..
28655     1
28716     1
27870     1
28075     1
28034     1
Name: Zip_Code, Length: 152, dtype: int64

In [19]:
sb_city_counts = new_nc_sb_df["City"].value_counts()
sb_city_counts

CHARLOTTE           61
RALEIGH             27
GREENSBORO          19
CARY                17
DURHAM              15
                    ..
BOONE                1
BREVARD              1
FLETCHER             1
KILL DEVIL HILLS     1
CANDLER              1
Name: City, Length: 86, dtype: int64

In [20]:
nc_county_count = new_nc_sb_df.groupby(["County Name"]).count()["Zip_Code"]
nc_county_count

County Name
ALAMANCE         5
BRUNSWICK        1
BUNCOMBE        19
BURKE            1
CABARRUS         8
CARTERET         1
CATAWBA          3
CHEROKEE         2
CLAY             1
CLEVELAND        2
CRAVEN           4
CUMBERLAND      10
CURRITUCK        1
DARE             2
DURHAM          15
FORSYTH         19
GASTON           4
GUILFORD        24
HALIFAX          1
HARNETT          1
HAYWOOD          2
HENDERSON        6
IREDELL          6
JACKSON          2
JOHNSTON         3
LEE              1
LINCOLN          1
MECKLENBURG     76
MOORE            2
NASH             1
NEW HANOVER      9
ONSLOW           4
ORANGE           7
PASQUOTANK       1
PITT             9
ROBESON          2
ROWAN            1
RUTHERFORD       1
TRANSYLVANIA     1
UNION            7
WAKE            65
WATAUGA          1
WAYNE            3
WILSON           2
YANCEY           1
Name: Zip_Code, dtype: int64

In [21]:
nc_countygroup = new_nc_sb_df.groupby(["County Name"])
nc_countygroup.head()

,Street Address,County Name,City,Store Name,State,Zip_Code,Ownership Type
0,110 Columbus Drive,MOORE,ABERDEEN,"Aberdeen, NC",NC,28315,Company Owned
1,750 W Williams St,WAKE,APEX,Harris Teeter-Apex #58,NC,27502,Licensed
2,1201 Beaver Creek Commons Dr,WAKE,APEX,Super Target Apex ST-1932,NC,27502,Licensed
3,940 US Hwy 64,WAKE,APEX,Kroger-Apex #357,NC,27523,Licensed
4,15 McKenna Rd,BUNCOMBE,ARDEN,Target Asheville T-2011,NC,28704,Licensed
...,...,...,...,...,...,...,...
315,1940 Eastwood Rd,NEW HANOVER,WILMINGTON,Harris Teeter-Wilmington # 301,NC,28403,Licensed
316,"311 S College Dr, Ste 100",NEW HANOVER,WILMINGTON,S College Dr & New Centre Dr,NC,28403,Company Owned
321,"3401 Raleigh Rd, Suite 101",WILSON,WILSON,"Wilson, NC",NC,27896,Company Owned
322,3401 Raleigh Rd Pkwy W,WILSON,WILSON,Target Wilson T-2168,NC,27896,Licensed
323,2281 Cloverdale Ave,FORSYTH,WINSTON SALEM,Harris Teeter Winston Salem 216,NC,27103,Licensed

In [22]:
new_nc_sb_df.dtypes

Street Address    object
County Name       object
City              object
Store Name        object
State             object
Zip_Code          object
Ownership Type    object
dtype: object

In [23]:
comp_own_df = new_nc_sb_df.loc[new_nc_sb_df["Ownership Type"] == "Company Owned", :]
comp_own_df.head()

,Street Address,County Name,City,Store Name,State,Zip_Code,Ownership Type
0,110 Columbus Drive,MOORE,ABERDEEN,"Aberdeen, NC",NC,28315,Company Owned
9,3 S Tunnel Road,BUNCOMBE,ASHEVILLE,Asheville Mall,NC,28805,Company Owned
10,"26 Carl Alwin Place, 10",BUNCOMBE,ASHEVILLE,Long Shoals Rd & I-26,NC,28803,Company Owned
12,"40 All Souls Crescent Street, Biltmore Village...",BUNCOMBE,ASHEVILLE,Biltmore Village,NC,28803,Company Owned
13,1378 Hendersonville Road,BUNCOMBE,ASHEVILLE,Parkway Centre,NC,28803,Company Owned

In [24]:
lic_own_df = new_nc_sb_df.loc[new_nc_sb_df["Ownership Type"] == "Licensed", :]
lic_own_df.head()

,Street Address,County Name,City,Store Name,State,Zip_Code,Ownership Type
1,750 W Williams St,WAKE,APEX,Harris Teeter-Apex #58,NC,27502,Licensed
2,1201 Beaver Creek Commons Dr,WAKE,APEX,Super Target Apex ST-1932,NC,27502,Licensed
3,940 US Hwy 64,WAKE,APEX,Kroger-Apex #357,NC,27523,Licensed
4,15 McKenna Rd,BUNCOMBE,ARDEN,Target Asheville T-2011,NC,28704,Licensed
5,301 Long Shoals Rd,BUNCOMBE,ARDEN,Ingles-Arden #130,NC,28704,Licensed

In [25]:
comp_own_df["City"].value_counts()

CHARLOTTE         29
RALEIGH           20
GREENSBORO         9
WINSTON SALEM      9
CARY               8
DURHAM             8
ASHEVILLE          6
WILMINGTON         4
CONCORD            4
PINEVILLE          3
GREENVILLE         3
HUNTERSVILLE       3
FAYETTEVILLE       3
HICKORY            2
GOLDSBORO          2
JACKSONVILLE       2
CHAPEL HILL        2
MORRISVILLE        2
BURLINGTON         2
HIGH POINT         2
MOORESVILLE        2
HENDERSONVILLE     1
MATTHEWS           1
CLAYTON            1
GARNER             1
HOLLY SPRINGS      1
KNIGHTDALE         1
ROANOKE RAPIDS     1
NEW BERN           1
FUQUAY VARINA      1
CLEMMONS           1
ABERDEEN           1
MONROE             1
WAXHAW             1
CORNELIUS          1
SMITHFIELD         1
MEBANE             1
LUMBERTON          1
KITTY HAWK         1
WILSON             1
GASTONIA           1
STATESVILLE        1
SALISBURY          1
SANFORD            1
KERNERSVILLE       1
MOREHEAD CITY      1
WINTERVILLE        1
INDIAN TRAIL       1
Name: City, dtype: int64

In [26]:
lic_own_df["City"].value_counts()

CHARLOTTE           32
GREENSBORO          10
CARY                 9
DURHAM               7
ASHEVILLE            7
                    ..
ROCKY MOUNT          1
BREVARD              1
CLAYTON              1
KILL DEVIL HILLS     1
BOONE                1
Name: City, Length: 71, dtype: int64

In [27]:
comp_own_df["County Name"].value_counts()

MECKLENBURG    37
WAKE           34
FORSYTH        11
GUILFORD       11
DURHAM          8
BUNCOMBE        6
NEW HANOVER     4
PITT            4
CABARRUS        4
UNION           3
IREDELL         3
CUMBERLAND      3
ALAMANCE        3
ORANGE          2
ONSLOW          2
CATAWBA         2
JOHNSTON        2
WAYNE           2
ROBESON         1
WILSON          1
ROWAN           1
CRAVEN          1
LEE             1
MOORE           1
DARE            1
HALIFAX         1
CARTERET        1
GASTON          1
HENDERSON       1
Name: County Name, dtype: int64

In [28]:
lic_own_df["County Name"].value_counts()

MECKLENBURG     39
WAKE            31
GUILFORD        13
BUNCOMBE        13
FORSYTH          8
CUMBERLAND       7
DURHAM           7
HENDERSON        5
NEW HANOVER      5
PITT             5
ORANGE           5
CABARRUS         4
UNION            4
CRAVEN           3
IREDELL          3
GASTON           3
CHEROKEE         2
HAYWOOD          2
JACKSON          2
CLEVELAND        2
ONSLOW           2
ALAMANCE         2
PASQUOTANK       1
CURRITUCK        1
CATAWBA          1
LINCOLN          1
ROBESON          1
WILSON           1
WAYNE            1
YANCEY           1
DARE             1
JOHNSTON         1
WATAUGA          1
BRUNSWICK        1
CLAY             1
MOORE            1
TRANSYLVANIA     1
BURKE            1
HARNETT          1
RUTHERFORD       1
NASH             1
Name: County Name, dtype: int64

In [35]:
nc_zipcodes.groupby(['County Name']).count()['Zip_Code']

County Name
ALAMANCE     12
ALEXANDER     3
ALLEGHANY     6
ANSON         7
ASHE         11
             ..
WAYNE        10
WILKES       14
WILSON       10
YADKIN        5
YANCEY        3
Name: Zip_Code, Length: 100, dtype: int64

In [36]:
merge_all_df = pd.merge(nc_sb_df, nc_zipcodes, on="Zip_Code", how="outer")
merge_all_df

,City_x,Street Address,State/Province,Country,Store Name,Zip_Code,Ownership Type,City_y,State,County Name
0,Aberdeen,110 Columbus Drive,NC,US,"Aberdeen, NC",28315,Company Owned,ABERDEEN,NC,MOORE
1,Apex,750 W Williams St,NC,US,Harris Teeter-Apex #58,27502,Licensed,APEX,NC,WAKE
2,Apex,1201 Beaver Creek Commons Dr,NC,US,Super Target Apex ST-1932,27502,Licensed,APEX,NC,WAKE
3,Apex,940 US Hwy 64,NC,US,Kroger-Apex #357,27523,Licensed,APEX,NC,WAKE
4,Arden,15 McKenna Rd,NC,US,Target Asheville T-2011,28704,Licensed,ARDEN,NC,BUNCOMBE
...,...,...,...,...,...,...,...,...,...,...
1227,NaN,NaN,NaN,NaN,NaN,27379,NaN,YANCEYVILLE,NC,CASWELL
1228,NaN,NaN,NaN,NaN,NaN,27596,NaN,YOUNGSVILLE,NC,FRANKLIN
1229,NaN,NaN,NaN,NaN,NaN,27597,NaN,ZEBULON,NC,WAKE
1230,NaN,NaN,NaN,NaN,NaN,28698,NaN,ZIONVILLE,NC,WATAUGA
1231,NaN,NaN,NaN,NaN,NaN,28790,NaN,ZIRCONIA,NC,HENDERSON

In [42]:
no_sb_df = merge_all_df[merge_all_df['Store Name'].isna()]
no_sb_df = no_sb_df.reset_index()
no_sb_df

,index,City_x,Street Address,State/Province,Country,Store Name,Zip_Code,Ownership Type,City_y,State,County Name
0,338,NaN,NaN,NaN,NaN,NaN,27006,NaN,ADVANCE,NC,DAVIE
1,339,NaN,NaN,NaN,NaN,NaN,27910,NaN,AHOSKIE,NC,HERTFORD
2,340,NaN,NaN,NaN,NaN,NaN,27201,NaN,ALAMANCE,NC,ALAMANCE
3,341,NaN,NaN,NaN,NaN,NaN,28001,NaN,ALBEMARLE,NC,STANLY
4,342,NaN,NaN,NaN,NaN,NaN,28002,NaN,ALBEMARLE,NC,STANLY
...,...,...,...,...,...,...,...,...,...,...,...
889,1227,NaN,NaN,NaN,NaN,NaN,27379,NaN,YANCEYVILLE,NC,CASWELL
890,1228,NaN,NaN,NaN,NaN,NaN,27596,NaN,YOUNGSVILLE,NC,FRANKLIN
891,1229,NaN,NaN,NaN,NaN,NaN,27597,NaN,ZEBULON,NC,WAKE
892,1230,NaN,NaN,NaN,NaN,NaN,28698,NaN,ZIONVILLE,NC,WATAUGA
893,1231,NaN,NaN,NaN,NaN,NaN,28790,NaN,ZIRCONIA,NC,HENDERSON

In [44]:
no_sb_df.groupby(["County Name"]).count()["Zip_Code"]

County Name
ALAMANCE     10
ALEXANDER     3
ALLEGHANY     6
ANSON         7
ASHE         11
             ..
WAYNE         9
WILKES       14
WILSON        9
YADKIN        5
YANCEY        2
Name: Zip_Code, Length: 100, dtype: int64